#Đây là file dành cho quản trị viên hệ thống xử lý
#file dùng cho nội bộ, vui lòng không leak các thông tin trong này
#Sau khi thay đổi vui lòng khởi động lại phần mềm
#Microsoft SQL Server Connection Information
jdbc.url=jdbc:sqlserver://192.168.4.2
jdbc.port=1433
jdbc.database=QuanLyShopSach
jdbc.username=sa
jdbc.password=Long@1411

